<style>
  li {
    list-style: none;
    display: inline-block;
  }

  li a {
    /* text-decoration: none; */
    color: blue;

  }
</style>

<nav class="">
  <a class="" href="/">EJS is Fun</a>
  <ul class="">
    <li class="">
      <a class="" href="/">Home</a>
    </li>
    <li class="">
      <a class="" href="/about">About</a>
    </li>

    <li class="">
      <a class="" href="/resources">Resources</a>
    </li>
  </ul>
</nav>